body{
    background: rgb(7, 42, 98);
    background: linear-gradient(90deg, rgb(26, 85, 179) 0%, rgb(0, 17, 126) 45%, rgb(0, 0, 15) 99%);
}

.cabecera {
    background-color: rgba(199, 212, 233, 0.899);
    display: flex;
    padding: 5px;
    flex-grow: 1; /*10% del espacio vertical */
    margin: 10px;
    border-radius: 8px;
    align-items: center; 
}

nav,
h1 {
    margin-left: auto;
    text-align: center;
    padding: 5px;
    margin: 10px;
    font-family: "Lucida Console", "Courier New", monospace;
    text-shadow: 2px 2px 5px black;
}

nav {
    margin-left: auto;
    text-align: center;
}
 h1, a {
    display: block;
    padding: 5px;
    color: white;
  }
  a:hover {
    background-color: rgba(28, 57, 102, 0.597);
  }
  .listado {
    align-items: center; 
    background-color: rgba(199, 212, 233, 0.494);
    text-align: center;
    height: 85vh; /* El 90% de la altura restante */
    margin: 10px;
    border-radius: 8px;
}

.Tabla {
    background-color: rgba(199, 212, 233, 0.494);
    text-align: left;
    border-collapse: collapse;
    border: 0.2px black solid;
    margin: auto;
    width: 98%;
    border-radius: 8px;

}
thead{
    background-color: rgba(221, 234, 255, 0.579);
}
.thead, th,td{
    border-collapse: collapse;
    border: 0.2px black solid;
    display: flexbox;
    width: 28%;
    margin: auto;
    border-radius: 4px;
}
